body {
	background-color:#005476;
}
#login {
	margin-top: 100px;
	border-radius: 100px;
}

#login-box {
	background-color:#34A9E4;
	padding: 20px;
	border: 1px solid var(--black1);
	border-radius: 50px;
	width:75em;
}

#login-box h3 {
	text-align: center;
	margin-bottom: 20px;
}

.form-group label {
	font-weight: bold;
	border-radius: 50px;
}

.form-control {
	margin-bottom: 10px;
	border-radius: 50px;
	width:500px;
}

.btn {
	width: 30%;
	border-radius: 50px;
}

h3{
	color:white;
	font-size:40px;
}