/* selector de colores*/
:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

.h1{
    text-align: center;
}

th {
    background-color: #3498DB;
    color: aliceblue;
}

.modal-header{
  background-color: var(--bg-menu);

}

#exampleModalLabel{
    text-align: center;
    color: var(--blanco);
}

.modal{
    width: 100%;
}


.print-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
  }
  
  .print-preview img {
    max-width: 100%;
    height: auto;
  }
  
  .print-preview h1 {
    text-align: center;
    margin-top: 0;
  }

